streamlit
streamlit-extras
yfinance
pillow
plotly
pandas
numpy
scikit-learn
tensorflow
pandas_market_calendars
requests
beautifulsoup4
textblob
huggingface_hub
python-dotenv
nltk
transformers
